.mc-form {
    flex: 0 0 320px;
    border-right: 2px solid #e8eced
}

.mc-form-group {
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: left;
}

.mc-form-input {
    position: relative; 
    width: 100%;
}

.mc-form-input input {
    box-sizing: border-box;
    display: block;
    margin: 0;
    border: 1px solid #69757a;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    height: 42px;
    line-height: 1;
    color: #1f2426;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400
}

.mc-form-select { 
    display: inline-block;
    position: relative;
    max-width: 100%;
    color: #b6bec2;
}

.mc-form-select select { 
    border: 1px solid #69757a;
    border-radius: 4px;
    background-color: #fff;
    color: #1f2426;
    font-size: 1rem;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    min-width: 12rem;
    height: 2.5rem;
}