.ht-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 16px;
    min-height: 56px;
    width: 100%;
    box-shadow: 0 -2px 4px 0 rgba(31, 36, 38, .1);
}

.ht-footer-github-divider {
    border-bottom: #1f2426;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 12px;
}

.ht-footer-github {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}

.ht-footer-github-img {
    width: 24px;
    height: 24px;
    justify-content: center; 
}

.ht-footer-github-img:hover {
    opacity: 0.6;
}

.ht-footer-github-link {
    text-decoration: none;
    height: 30px;
    align-items: center;
    display: flex;
}
.ht-footer-github-text {
    color: #1f2426;
    font-size: .9rem;
    font-weight: 600;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
    font-family: canada-type-gibson, Arial, sans-serif;
}

.ht-footer-github-text:hover {
    color: #003bb9;
}
.ht-footer-copyright {
    color: #17795f;
    margin-block-start: 0!important;
    margin-block-end: 0!important;
    margin-bottom: 1px;
    padding-bottom: 16px;
    padding-top: 5px;
    font-size: 1rem;
}


